.btn{
    background-color: blue;
    color: white;
    width: 250px;
    height: 40px;
    border: navy;
}


.input-1{
    width: 400px;
    height: 35px;
}

.pre-1{
    font-family: sans-serif;

}

.h-1{
    font-family: sans-serif;
}

.p-1{
    font-family: sans-serif;
}
