.btn{
    background-color: blue;
    color: white;
    width: 250px;
    height: 40px;
    border: navy;
}


.input-1{
    width: 400px;
    height: 35px;
}

.pre-1{
    font-family: sans-serif;

}

.h-1{
    font-family: sans-serif;
}

.p-1{
    font-family: sans-serif;
}

.body-color{
    background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.content-1{
    background-color: white;
    width: 60%;
    height: 80rem;
    margin: 0 auto;
}